
.container {
  padding: 30px;
  background-color: black;
}

body {
    background-color: black;
    background-image: url('../img/pattern_small_02.png');
    font:white;
}

#header{
  background-color: black;
  height: 120px;
  width: 100%;
  margin: 5px;
  padding:10px;
  float: left;
 }

#pontos {
  float:right;
  color: white;
  text-align: right;
  


  font-size: 80px;
}
#logo {
  background-color: black;
  height: 60%;
  width: 60%; 
}
#vidas{
  height:100%;
}
#vida1, #vida2, #vida3, #vida4 {
  height: 80%;
  width: 80%;
  z-index: 5;
  position:relative
}
#profile{
  height: 200px;
  width: 200px;
}

#resposta {
  visibility: hidden;
}

#dica5, #dica6, #dica7 {
  visibility: hidden;
}

.col-md-8 {
    color: white;
}

